class_sensor.txt
[{"id":"46aa95c4.349b5c","type":"inject","z":"af59bbc8.461f88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":121.5,"y":81,"wires":[["b92d69ce.41f12"]]},{"id":"b92d69ce.41f12","type":"oM2M-ONE-Application","z":"af59bbc8.461f88","xN_CSE":"8ea383e9.207","NM":"cdbab45c.8c40f","obixType":"","obixCategory":"","obixLocation":"","obiNMnnounce":false,"x":318.5,"y":81,"wires":[["48535a72.740c1c"]]},{"id":"48535a72.740c1c","type":"http request","z":"af59bbc8.461f88","name":"","method":"POST","ret":"txt","url":"","tls":"","x":529.5,"y":82,"wires":[["c4efba5c.a2956"]]},{"id":"c4efba5c.a2956","type":"debug","z":"af59bbc8.461f88","name":"","active":true,"console":"false","complete":"false","x":720.5,"y":82,"wires":[]},{"id":"d3392b10.c1265","type":"inject","z":"af59bbc8.461f88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":108.5,"y":142,"wires":[["3b6169b5.de852e"]]},{"id":"3b6169b5.de852e","type":"oM2M-ONE-Data-Container","z":"af59bbc8.461f88","xN_CSE":"84cb5fb8.e73fa8","NM":"cdbab45c.8c40f","maxNrOfInstances":"10","obiNMnnounce":false,"x":322.5,"y":141,"wires":[["ddc429d7.a1123"]]},{"id":"ddc429d7.a1123","type":"http request","z":"af59bbc8.461f88","name":"","method":"POST","ret":"txt","url":"","tls":"","x":535,"y":141,"wires":[["b1dc6b0.9df8318"]]},{"id":"b1dc6b0.9df8318","type":"debug","z":"af59bbc8.461f88","name":"","active":true,"console":"false","complete":"false","x":716,"y":142,"wires":[]},{"id":"28fea930.9c7fe6","type":"http in","z":"af59bbc8.461f88","name":"Post Sensor Data","url":"/sensorData","method":"post","swaggerDoc":"","x":111,"y":249,"wires":[["b707d928.1f5cd","9c287836.34388"]]},{"id":"b707d928.1f5cd","type":"function","z":"af59bbc8.461f88","name":"Input Data","func":"msg.headers = {\n        \"X-M2M-Origin\": \"admin:admin\",\n        \"Content-type\" : \"application/xml;ty=4\",\n        \"X-M2M-NM\" : msg.payload.Name\n}\nmsg.payload = \"\\\n<m2m:cin xmlns:m2m=\\\"http://www.onem2m.org/xml/protocols\\\">\\\n    <cnf>message</cnf>\\\n    <con>\\\n      &lt;obj&gt;\\\n        &lt;str name=&quot;appId&quot; val=&quot;class_sensor&quot;/&gt;\\\n         &lt;int name=&quot;PIR&quot; val=&quot;\"+msg.payload.PIR+\"&quot;/&gt;\\\n        &lt;int name=&quot;latitude&quot; val=&quot;\"+msg.payload.latitude+\"&quot;/&gt;\\\n        &lt;int name=&quot;longitude&quot; val=&quot;\"+msg.payload.longitude+\"&quot;/&gt;\\\n      &lt;/obj&gt;\\\n    </con>\\\n</m2m:cin>\";\n\nreturn msg;\n","outputs":1,"noerr":0,"x":323.5,"y":258,"wires":[["28ba97ae.7115a8"]]},{"id":"28ba97ae.7115a8","type":"http request","z":"af59bbc8.461f88","name":"","method":"POST","ret":"txt","url":"http://127.0.0.1:8282/~/mn-cse/mn-name/class_sensor/DATA","tls":"","x":580,"y":257,"wires":[["ddc7b5ea.be63d8"]]},{"id":"ddc7b5ea.be63d8","type":"debug","z":"af59bbc8.461f88","name":"","active":true,"console":"false","complete":"payload","x":777.5,"y":264,"wires":[]},{"id":"9c287836.34388","type":"http response","z":"af59bbc8.461f88","name":"Http Response","x":300,"y":341,"wires":[]},{"id":"c9a3af91.eae71","type":"http in","z":"af59bbc8.461f88","name":"Listen to HTTP Post notification","url":"/notification","method":"post","swaggerDoc":"","x":147,"y":411,"wires":[["27af0df.5656b72","6f671bf0.6639bc"]]},{"id":"27af0df.5656b72","type":"xml","z":"af59bbc8.461f88","name":"","attr":"","chr":"","x":384,"y":402,"wires":[["dff3db71.cdbf6"]]},{"id":"71e62bfc.8a0884","type":"file","z":"af59bbc8.461f88","name":"","filename":"/home/iotclass/notification.xml","appendNewline":true,"createDir":false,"overwriteFile":"true","x":907,"y":468,"wires":[]},{"id":"dff3db71.cdbf6","type":"function","z":"af59bbc8.461f88","name":"Extract Data from XML","func":"var notification = msg.payload['m2m:sgn'];\nvar nev = notification['nev'][0];\nvar rep = nev['rep'][0];\nvar con = rep['con'][0];\nmsg.payload = con;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":611.5,"y":399,"wires":[["d6ef2756.236ec","71e62bfc.8a0884"]]},{"id":"6f671bf0.6639bc","type":"http response","z":"af59bbc8.461f88","name":"Notification Response","x":453,"y":460,"wires":[]},{"id":"d6ef2756.236ec","type":"debug","z":"af59bbc8.461f88","name":"","active":true,"console":"false","complete":"payload","x":853.5,"y":389,"wires":[]},{"id":"5f3f3f18.98923","type":"http in","z":"af59bbc8.461f88","name":"Read XML File via HTTP Get","url":"/notification","method":"get","swaggerDoc":"","x":142.5,"y":558,"wires":[["1da1b020.0aea88"]]},{"id":"1da1b020.0aea88","type":"file in","z":"af59bbc8.461f88","name":"","filename":"/home/iotclass/notification.xml","format":"utf8","x":424,"y":560,"wires":[["2717625c.2d21c6"]]},{"id":"2717625c.2d21c6","type":"xml","z":"af59bbc8.461f88","name":"","attr":"","chr":"","x":646.5,"y":558,"wires":[["195e4f6f.5da521"]]},{"id":"195e4f6f.5da521","type":"http response","z":"af59bbc8.461f88","name":"","x":791,"y":556,"wires":[]},{"id":"1080d755.0b60a1","type":"http in","z":"af59bbc8.461f88","name":"HTTP Get","url":"/locations","method":"get","swaggerDoc":"","x":81.5,"y":648,"wires":[["22660205.86f536"]]},{"id":"22660205.86f536","type":"file in","z":"af59bbc8.461f88","name":"","filename":"/home/iotclass/notification.xml","format":"utf8","x":328.5,"y":646,"wires":[["697c1304.32b6bc"]]},{"id":"697c1304.32b6bc","type":"xml","z":"af59bbc8.461f88","name":"","attr":"","chr":"","x":546,"y":644,"wires":[["75265c27.8480a4"]]},{"id":"75265c27.8480a4","type":"json","z":"af59bbc8.461f88","name":"","x":680,"y":642,"wires":[["9f26582b.63992"]]},{"id":"9f26582b.63992","type":"function","z":"af59bbc8.461f88","name":"Parse XML JSON","func":"var data = JSON.parse(msg.payload);\nvar object1 = data.obj;\nvar integer1 = object1.int;\n\nvar tres = integer1[0];\nvar tres_$ = tres.$;\nvar PIR = tres_$.val;\n\nvar cuatro = integer1[1];\nvar cuatro_$ = cuatro.$;\nvar latitude = cuatro_$.val;\n\nvar buatro = integer1[2];\nvar buatro_$ = buatro.$;\nvar longitude = buatro_$.val;\n\n\nmsg.payload = {\n            \"PIR\":PIR,\n            \"latitude\":latitude,\n            \"longitude\": longitude\n            };\nreturn msg;\n","outputs":1,"noerr":0,"x":863,"y":641,"wires":[["55fd76c6.1add18","d324be60.381c88"]]},{"id":"55fd76c6.1add18","type":"debug","z":"af59bbc8.461f88","name":"","active":true,"console":"false","complete":"false","x":1073.5,"y":643,"wires":[]},{"id":"d324be60.381c88","type":"http response","z":"af59bbc8.461f88","name":"","x":1065.5,"y":690,"wires":[]},{"id":"6990e907.5795a","type":"inject","z":"af59bbc8.461f88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":112,"y":197,"wires":[["9c669c3b.71eea"]]},{"id":"9c669c3b.71eea","type":"oM2M-ONE-Subscription","z":"af59bbc8.461f88","xN_CSE":"8ea383e9.207","NM":"cdbab45c.8c40f","contactPath":"http://localhost:1880/notification","CNT":"DATA","filterType":"","filterCriteria":"content","x":339.5,"y":196,"wires":[["b4c377cb.31dab8"]]},{"id":"b4c377cb.31dab8","type":"http request","z":"af59bbc8.461f88","name":"","method":"POST","ret":"txt","url":"","tls":"","x":546,"y":194,"wires":[["243c5191.dd94d6"]]},{"id":"243c5191.dd94d6","type":"debug","z":"af59bbc8.461f88","name":"","active":true,"console":"false","complete":"false","x":734,"y":193,"wires":[]},{"id":"8c658b65.7a9f","type":"http in","z":"af59bbc8.461f88","name":"","url":"/getData","method":"post","swaggerDoc":"","x":106,"y":745,"wires":[["72b84475.d12fa4"]]},{"id":"72b84475.d12fa4","type":"function","z":"af59bbc8.461f88","name":"","func":"msg.headers = {\n    \"X-M2M-Origin\": \"admin:admin\",\n}\nmsg.url = \"http://localhost:8282/~/mn-cse/mn-name/class_sensor/DATA/\"+msg.payload.Name\nreturn msg;","outputs":1,"noerr":0,"x":274.5,"y":744,"wires":[["96461926.3e2d4"]]},{"id":"96461926.3e2d4","type":"http request","z":"af59bbc8.461f88","name":"","method":"GET","ret":"txt","url":"","tls":"","x":421.5,"y":740,"wires":[["da1d0bf7.852bc","f89d3b10.ba8fd8"]]},{"id":"da1d0bf7.852bc","type":"xml","z":"af59bbc8.461f88","name":"","attr":"","chr":"","x":621.5,"y":742,"wires":[["312244b8.b19b44"]]},{"id":"f89d3b10.ba8fd8","type":"http response","z":"af59bbc8.461f88","name":"","x":643.5,"y":813,"wires":[]},{"id":"312244b8.b19b44","type":"function","z":"af59bbc8.461f88","name":"","func":"var notification = msg.payload['m2m:cin'];\nvar con = notification['con'][0];\nmsg.payload = con;\nreturn msg;","outputs":1,"noerr":0,"x":760.5,"y":741,"wires":[["cd9087f.5b59af8"]]},{"id":"e44f4b1c.7c7fc8","type":"http in","z":"af59bbc8.461f88","name":"","url":"/returnData","method":"get","swaggerDoc":"","x":108,"y":974,"wires":[["edc5fb44.533c7"]]},{"id":"edc5fb44.533c7","type":"file in","z":"af59bbc8.461f88","name":"","filename":"/home/iotclass/command.xml","format":"utf8","x":348,"y":978,"wires":[["35a1989e.4cfff"]]},{"id":"35a1989e.4cfff","type":"xml","z":"af59bbc8.461f88","name":"","attr":"","chr":"","x":559,"y":977,"wires":[["e8976515.c3684"]]},{"id":"e8976515.c3684","type":"json","z":"af59bbc8.461f88","name":"","x":697,"y":979,"wires":[["83f8e55e.c433c"]]},{"id":"83f8e55e.c433c","type":"function","z":"af59bbc8.461f88","name":"","func":"var data = JSON.parse(msg.payload);\nvar object1 = data.obj;\nvar integer1 = object1.int;\n\nvar tres = integer1[0];\nvar tres_$ = tres.$;\nvar PIR = tres_$.val;\n\nvar cuatro = integer1[1];\nvar cuatro_$ = cuatro.$;\nvar latitude = cuatro_$.val;\n\nvar buatro = integer1[2];\nvar buatro_$ = buatro.$;\nvar longitude = buatro_$.val;\n\n\nmsg.payload = {\n            \"PIR\":PIR,\n            \"latitude\":latitude,\n            \"longitude\": longitude\n            };\nreturn msg;\n","outputs":1,"noerr":0,"x":826,"y":977,"wires":[["295dc481.1e218c","d70a736e.30d238"]]},{"id":"295dc481.1e218c","type":"debug","z":"af59bbc8.461f88","name":"","active":true,"console":"false","complete":"false","x":1011,"y":983,"wires":[]},{"id":"d70a736e.30d238","type":"http response","z":"af59bbc8.461f88","name":"","x":1003,"y":1030,"wires":[]},{"id":"cd9087f.5b59af8","type":"file","z":"af59bbc8.461f88","name":"","filename":"/home/iotclass/command.xml","appendNewline":true,"createDir":false,"overwriteFile":"true","x":975,"y":743,"wires":[]},{"id":"8ea383e9.207","type":"xN_CSE","z":"af59bbc8.461f88","sclId":"mn-cse","host":"localhost","port":"8282","baseUrl":"~"},{"id":"cdbab45c.8c40f","type":"NM","z":"af59bbc8.461f88","appId":"class_sensor","contactUrl":"localhost:1880"},{"id":"84cb5fb8.e73fa8","type":"xN_CSE","z":"af59bbc8.461f88","sclId":"mn-cse","host":"localhost","port":"8282","baseUrl":"~"}]